@*@model TotalControl.Models.AddEmployeeViewModel
@{
    ViewBag.Title = "Employee Registration";
}

<h2>New Employee Registration</h2>


@using (Html.BeginForm("AddEmployee", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off"}))
{

    <h5>Send registration link to new employee</h5>
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.FirstName, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.LastName, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.UserRole, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
            <select class="form-control" id="Role" name="UserRole">
                <option value=""></option>
                <option value="Coordinator">Coordinator</option>
                <option value="Manager">Manager</option>
                <option value="Associate">Associate</option>
            </select>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back", "Index", "Admin")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
